@import '~antd/dist/antd.css';

.site-page-header {
  background-color: white;
}

.mt-10 {
  margin-top: 10px;
}

.ml-2 {
  margin-left: 2px;
}

.p-10 {
  padding: 10px;
}

.pagination--header {
  row-gap: 0px;
  display: flex;
  align-items: center;
}

.bold-text {
  font-weight: bold;
}
